/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Sixtyfour+Convergence&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Edu AU VIC WA NT Guides";
}


#titleDiv {
    background-color: cornflowerblue;
    height: 400px;
}

#titleImage{
    background-color: cornflowerblue;
}

.border{
    height: 0.25vw;
    background-color: black;
}

.ffLogo{
    height: 20vh;
    width: auto;
}

#heading1 {
    font-size: calc(2rem + 2vw + 2vh);
    border-style: solid;
    border-color: black;
    border-width: 2vw;
    padding: 0.5vw;
    margin: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.5vw;
}

.grid-container {
    display: grid;
    /* height: 400px; */
    align-content: center;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item5 item6 item7 item8"
    "item9 item10 item11 item12";

    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

.itemText{
    font-size: calc(1rem + 1vw + 1vh);
}

  .card{
    width:15vw;
    height:auto;
    border: solid black 0.1vw;
    border-radius: 1vw;
  }

  .gallery{
    object-position: 50% 50%;
    height: 200px;
    object-fit: cover;
    border: solid black 0.5vw;
    border-radius: 1vw;
    background-color: cornflowerblue;
    justify-content: center;
  }

  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width{
    width: 100vw;
}

.verticalContainer{
    display:flex;
    flex-direction: column;
}

.hoverShadow:hover{
    box-shadow: 10px 10px 1px black;
}

